<div class="app-content">
  <mat-card class="app-form-container">
    <mat-card-title> My sourcerer</mat-card-title>
    <form class="app-form" (ngSubmit)="searchUser()">
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Username</mat-label>
          <input matInput [formControl]="usernameFormControl" placeholder="Ex. ibrahimdans">
          <mat-error *ngIf="usernameFormControl.hasError('required')">
            Username is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Git Token</mat-label>
          <input matInput [formControl]="gitToken" placeholder="5d83b58d6eb3...">
          <mat-error *ngIf="gitToken.hasError('required')">
            Git Token are <strong>required</strong>
          </mat-error>
        </mat-form-field>

      </div>
      <div>
        <button *ngIf="!isLoad" mat-button color="primary" type="submit"
                [disabled]="usernameFormControl.invalid && gitToken.invalid">
          Search
        </button>
        <mat-spinner *ngIf="isLoad" diameter="25"></mat-spinner>
      </div>
    </form>
    <mat-error *ngIf="userStatus"> Username not found 😨</mat-error>
  </mat-card>

</div>
